# GCP
PROJECT=mon-projet-id
REGION=europe-west1
REPO=mon-depot-docker
BUCKET=mon-bucket-gcs

# BigQuery
BQ_METRICS_TABLE=mon-projet-id.mspr_energie.model_runs
BQ_TABLE=mon-projet-id.mspr_energie.forecasts

# API (URL du Cloud Run déployé)
API_URL=https://api-xxxxxxxx-ew.a.run.app